{% extends base %}
{% block content %}


<p>
{% for app in apps: %}
<div class="apps-apps">
  Name: {{ app.name }} <br>
  Description: {{ app.description }} <br>
  Command: {{app.aptget}} <br>
  Repository: {{app.repository}} <br>
  Category: {{app.category}} <br>
  {% if contentcreator == logged_user: %}
    <div class="apps-applinks">
      <a href="/ubuntuapp/apps/{{app.id}}/edit" class="categories-edit">Update App</a>
      |
      <a href="/ubuntuapp/apps/{{app.id}}/delete" class="categories-delete">Delete App</a>
    </div>
  {% endif %}
</div>

{% endfor %}

{% endblock %}
<!--

-->
