{% extends base %}
{% block content %}

<div class="newapp-border">
  <form action="#" class="newapp-form" method = "post">
  		<div class="form-group">
  			<label for="name" class="newapp-name">Name:</label>
  			<input type ="text" maxlength="250"  name="name" placeholder="Name of the app">
        <p>
        <label for="course" class="newapp-repo">Repository:</label>
    		<input type ="text" class="form-control" maxlength="250" name="repository" placeholder="Repository">
        <p>
  			<label for="aptget" class="newapp-command">Command:</label>
  			<input type ="text" class="form-control" maxlength="250" name="aptget" placeholder="Terminal Command">
        <p>
        <label for="description" class="newapp-description">Description:</label>
        <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the app"></textarea>
        <p>
  			<div class="radio"><label><input type="radio" name="category" id="media" value="media">media</label></div>
  			<div class="radio"><label><input type="radio" name="category" id="development" value="development">development</label></div>
  			<div class="radio"><label><input type="radio" name="category" id="tools" value="tools">Tools / Utilities</label></div>
  			<div class="radio"><label><input type="radio" name="category" id="fixes" value="fixes">fixes</label></div>
  			<button type="submit" class="newapp-submit" id="submit" type="submit">
  			<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
  		</div>
  </form>
</div>
{% endblock %}
